.card-config {
  width: 100%;
  margin-block: 0.5rem;
}

.panel-container {
  margin-top: 1rem;
}

.switches,
.card-button-cfg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
  margin-block: 8px;
}

/* .switches {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
} */

ha-select,
ha-textfield {
  margin-bottom: 8px;
  display: block;
  width: 100%;
}

ha-switch {
  --mdc-theme-secondary: var(--switch-checked-color);
}

ha-expansion-panel .container {
  padding: 0px 1rem !important;
}

h3 {
  color: var(--secondary-text-color);
  margin-block: 0;
}

.right-icon {
  padding-right: 8px;
}

.note {
  color: var(--secondary-text-color);
  text-align: start;
}

.cards-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.image-config {
  display: flex;
  flex-direction: column;
}

.custom-background-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.custom-background-wrapper.dragging {
  background-color: var(--primary-color);
}

.custom-background-wrapper .handle {
  cursor: grab;
  color: var(--secondary-text-color);
}

.custom-background-wrapper .handle:active {
  cursor: grabbing;
  color: var(--primary-color);
}

.ghost {
  opacity: 0.5;
  background: var(--primary-color);
  border-radius: var(--ha-card-border-radius, 12px);
}

.new-url-btn,
.file-input {
  display: none;
}

.new-url-btn.show,
.file-upload {
  cursor: pointer;
  display: inline-block;
  color: var(--secondary-text-color);
}

.new-url-btn:hover,
.file-upload:hover {
  color: var(--primary-color);
}

.image-input {
  text-transform: uppercase !important;
  letter-spacing: inherit;
}

.sub-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 0 1rem;
  align-items: center;
  border-bottom: 1px solid var(--divider-color);
}


#toast {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

#toast-update.hidden {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

#toast.show {
  visibility: visible;
  opacity: 1;
  max-height: 100px;
  animation: fade-in 0.3s ease-in-out forwards;
}

#toast-update {
  visibility: visible;
  opacity: 1;
  max-height: 100px;
}

.version {
  margin-top: 2rem;
  color: var(--secondary-text-color);
  align-items: stretch;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.version .update {
  color: var(--accent-color);
  opacity: 0.7;
}

ha-alert {
  width: 100%;
}

ha-alert>.alert-icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-inline: 0.5rem;
}

.sub-card-config {
  margin-top: 16px;
}

.flex-col {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.sub-card-title {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}