:host {
  font-family: poppins, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*:focus {
  outline: none;
}

ha-card {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: #eeeeee;
}
ha-card.dark {
  background-color: #0c0c0c;
}

header h1 {
  color: var(--ha-card-header-color, --primary-text-color);
  font-family: serif !important;
  font-size: var(--ha-card-header-font-size, 24px);
  letter-spacing: -0.012em;
  line-height: 48px;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 400;
  text-align: center;
}

.header-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 250px;
  top: 0px;
  left: 50%;
  opacity: 0.1;
  z-index: 0;
  mask-image: linear-gradient(transparent 0%, black 40%, black 70%, transparent 100%);
  transform: translate(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#map-box {
  position: relative;
  width: 100%;
  height: 170px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  flex-wrap: wrap;
}
.info-box {
  --mdc-icon-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  opacity: 0.8;
  /* text-transform: capitalize; */
}

.info-box .item {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  span {
    font-size: 1rem;
  }
  ha-icon {
    margin-bottom: 3px;
  }
}

.fuel-wrapper {
  display: inline-block;
  width: 40%;
  height: 5px;
  background-color: #909090;
  border-radius: 5px;
  position: relative;
  .fuel-level-bar {
    position: absolute;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.5s ease;
    height: 5px;
  }
}

.charging-icon {
  position: absolute;
  display: flex;
  align-content: center;
  top: -7px;
  left: 29%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 0.5rem;
  margin-top: 1rem;
  position: relative;
}
.grid-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  background: var(--ha-card-background, var(--card-background-color, #fff));
  box-shadow: var(--ha-card-box-shadow, none);
  box-sizing: border-box;
  border-radius: var(--ha-card-border-radius, 12px);
  border-width: var(--ha-card-border-width, 1px);
  border-style: solid;
  border-color: var(--ha-card-border-color, var(--divider-color, #e0e0e0));
  transition: all 0.3s ease-out;
  opacity: 1;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 768px) {
  .grid-item {
    padding: 8px;
  }
}
.grid-item .item-icon {
  display: inline-block;
  border-radius: 50% 50%;
  background-color: var(--chip-background-color);
  padding: 0.5rem;
}
.grid-item .item-content {
  display: flex;
  flex-direction: column;
  .primary {
    font-size: 13px;
    font-weight: 500;
  }
  .secondary {
    color: var(--secondary-text-color);
    /* text-transform: capitalize; */
    letter-spacing: 0.5px;
    font-size: smaller;
  }
}

.added-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.added-card-header .headder-btn {
  cursor: pointer;
  color: var(--secondary-text-color);
  opacity: 0.5;
  transition: opacity 0.3s;
  &:hover {
    opacity: 1;
  }
}

.added-card-header .card-toggle {
  display: flex;
  gap: 1rem;
}

.added-card {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding: 0;
  overflow: hidden;
}

.added-card:first-child {
  margin-top: 0;
}

.last-update {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  color: var(--secondary-text-color);
  margin-top: 0.5rem;
  opacity: 0.5;
}
#cards-wrapper {
  animation: fadeIn 0.5s ease-in-out;
  position: relative;
}
#main-wrapper {
  animation: fadeIn 0.3s ease;
  position: relative;
}

.card-element {
  transition: transform 0.3s ease;
  position: relative;
}

/* .card-element.swiping-left {
  transform: translateX(-120%);
}

.card-element.swiping-right {
  transform: translateX(120%);
} */

.card-element {
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.slide-left-enter {
  transform: translateX(100%);
}

.slide-left-enter-active {
  transform: translateX(0);
}

.slide-left-exit {
  transform: translateX(0);
}

.slide-left-exit-active {
  transform: translateX(-100%);
}

.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-enter-active {
  transform: translateX(0);
}

.slide-right-exit {
  transform: translateX(0);
}

.slide-right-exit-active {
  transform: translateX(100%);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.default-card {
  align-items: center;
  padding: 0.5rem 1rem;
  background: var(--ha-card-background, var(--card-background-color, #fff));
  box-shadow: var(--ha-card-box-shadow, none);
  box-sizing: border-box;
  border-radius: var(--ha-card-border-radius, 12px);
  border-width: var(--ha-card-border-width, 1px);
  border-style: solid;
  border-color: var(--ha-card-border-color, var(--divider-color, #e0e0e0));
  transition: all 0.3s ease-out;
  margin-bottom: 1rem;
  position: relative;
}

.default-card:last-child {
  margin-bottom: 0;
}

.default-card .data-header {
  color: var(--ha-card-header-color, --primary-text-color);
  font-family: var(--ha-card-header-font-family, inherit);
  font-size: var(--ha-card-header-font-size, 24px);
  letter-spacing: -0.012em;
  line-height: 48px;
  display: block;
  margin-block: 0px;
  font-weight: 400;
}
.data-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #444;
}

.data-row .data-value-unit {
  cursor: pointer;
}

.data-row span {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.data-row:last-child {
  border-bottom: none;
}
.data-row div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.data-icon {
  color: var(--secondary-text-color);
}

.data-icon.warning {
  color: var(--warning-color, --error-color);
}

.sub-attributes {
  overflow: hidden;
  padding-top: 0 !important;
  padding: inherit;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.sub-attributes.active {
  max-height: 400px; /* Adjust this to be more than the expected height of the content */
  opacity: 1;
  padding: inherit;
}

.error {
  color: var(--error-color);
}

dialog {
  width: 100%;
  overflow: hidden;
  max-width: 500px;
  background: none;
  border: none;
  border-radius: 12px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

@keyframes slideUpDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
