name: Release
on:
    push:
        tags:
            - "v*.*.*"
    workflow_dispatch:
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Install
              run: npm install
            - name: Build
              run: npm run build
            - name: Release
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  draft: true
                  generate_release_notes: true
                  files: |
                    dist/*.js
                    build/*.js